$dark: #222
$grey: #00000008
$white: #FFF
$yellow: #FFDA32
$pink: #EA2768
$blue: #4174B3
$violet: #5A4D88
$vinous: #534856
$cherry: #871008
$pink: #F5D5D6
$cian: #058F96


=shadow
	box-shadow: 0 5px 20px #0000001a
=b-radius
	border-radius: 10px
=flow
	transition: all .25
=regular
	font-family: "RobotoRegular"
=bold
	font-family: "Robotobold"
=lig
	font-family: "RobotoLight"